{% extends 'base.html.twig' %}

  {% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  {% endblock %}


{% block body %}


        <h1 class="title">Liste des Albums</h1>


    <table class="highlight">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Artiste</th>
                <th>Genre</th>
                <th>Support</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for album in albums %}
            <tr>
                <td><a href="{{ path('album_show', { 'id': album.id }) }}">{{ album.id }}</a></td>
                <td>{{ album.title }}</td>
                <td>{{ album.artiste }}</td>
                <td>{{ album.genre }}</td>
                <td>{{ album.support }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('album_show', { 'id': album.id }) }}">voir</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="create-album">
        <li>
            <a href="{{ path('album_new') }}"><button>Créer un nouvel album</button></a>
        </li>
    </ul>
{% endblock %}
